@import url("reset.css");

@import url("Keyframe.css");

/* compnent */
@import url("components/header.css");
@import url("components/footer.css");
@import url("components/main.css");

/* screen */
@import url("screen/IntroduceScreen.css");
@import url("screen/signUp/signUp.css");
@import url("screen/signUp/signUp_complete.css");
@import url("screen/login/login.css");
@import url("screen/find_id.css");
@import url("screen/find_pwd.css");
@import url("screen/myPage/mypage.css");
@import url("screen/admin/admin.css");
@import url("screen/product/productDetail.css");
@import url("screen/admin/adminRegist.css");
@import url("screen/admin/adminProductsList.css");
@import url("screen/admin/adminSearch.css");
@import url("screen/product/productsAll.css");
@import url("screen/cart/cart.css");
@import url("screen/order/order.css");
@import url("screen/reply.css");
@import url("screen/myPage/userInfo.css");
@import url("screen/myPage/wish.css");
@import url("screen/product/orderDetail.css");
@import url("screen/myPage/userOrderList.css");
@import url("screen/myPage/userOrderDetail.css");

/* 메인페이지 */

body {
  flex-direction: column;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #bcbcbc;
  box-shadow: inset 0 0 5px black;
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  /* background-color: transparent; */
  border-radius: 10px;
}
