@import url("reset.css");

@import url("Keyframe.css");

/* compnent */
@import url("components/header.css");
@import url("components/footer.css");
@import url("components/main.css");

/* screen */
@import url("screen/IntroduceScreen.css");
@import url("screen/signUp.css");
@import url("screen/signUp_complete.css");
@import url("screen/login.css");
@import url("screen/find_id.css");
@import url("screen/find_pwd.css");
@import url("screen/mypage.css");
@import url("screen/admin.css");
@import url("screen/productDetail.css");
@import url("screen/adminRegist.css");
@import url("screen/adminProductsList.css");
@import url("screen/adminSearch.css");
@import url("screen/productsAll.css");
@import url("screen/cart.css");
@import url("screen/order.css");
@import url("screen/reply.css");
@import url("screen/userInfo.css");
@import url("screen/wish.css");
@import url("screen/orderDetail.css");

/* 메인페이지 */

body {
  flex-direction: column;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #bcbcbc;
  box-shadow: inset 0 0 5px black;
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  /* background-color: transparent; */
  border-radius: 10px;
}
