<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.WYW.domain.CategoryVo">
    <select id="category" resultType="CategoryVo">
        WITH recursive p AS (
            SELECT cate_name, cate_code, cate_code_ref, 1 AS level
            FROM products_category
            WHERE products_category.cate_code_ref IS null
            UNION all
            SELECT pc.cate_name, pc.cate_code, pc.cate_code_ref, 1 + LEVEL AS level
            FROM products_category pc
                     INNER JOIN p
                                ON pc.cate_code_ref = p.cate_code
        )
        SELECT cate_name, cate_code, cate_code_ref, level FROM p;
    </select>

    <insert id="regProduct" parameterType="CategoryVo">
        insert into products (user_id, name, description, cate_code, thumbnail, price, stock)
        values (#{user_id},#{name},#{description},#{cate_code},#{thumbnail},#{price},#{stock});
    </insert>

    <select id="productsList" resultType="ProductsVo">
        SELECT * from products
        ORDER BY created_at DESC
    </select>

    <select id="readProduct" parameterType="int" resultType="ProductsVo">
        SELECT * from products
        WHERE id=#{id}
    </select>

    <update id="modifiyProduct" parameterType="ProductsVo">
        update products
        set  name=#{name}, description=#{description}, cate_code=#{cate_code}, price=#{price},stock=#{stock}
        where id=16;
    </update>

    <delete id="deleteProduct" parameterType="int">
        delete from products
        where id=#{id};
    </delete>

    <select id="productsView" parameterType="int" resultType="ProductsViewVo">
        select
            p.id , user_id ,name, p.cate_code, c.cate_code_ref, c.cate_name, price, stock, description, thumbnail, created_at
        from products p
                 inner join products_category c
                            on p.cate_code = c.cate_code
        where p.id = #{id};
    </select>

</mapper>