<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.WYW.mapper.attachMapper">

    <select id="getAttachList" parameterType="int" resultType="AttachImageVO">

    select * from products_image where product_id = #{product_id}

    </select>

</mapper>