<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.WYW.mapper.productMapper">
    <select id="category" resultType="CategoryVo">
        WITH recursive p AS (
            SELECT cate_name, cate_code, cate_code_ref, 1 AS level
            FROM products_category
            WHERE products_category.cate_code_ref IS null
            UNION all
            SELECT pc.cate_name, pc.cate_code, pc.cate_code_ref, 1 + LEVEL AS level
            FROM products_category pc
                     INNER JOIN p
                                ON pc.cate_code_ref = p.cate_code
        )
        SELECT cate_name, cate_code, cate_code_ref, level FROM p;
    </select>

    <select id="readProduct" parameterType="int" resultType="ProductsVo">
        SELECT * from products
        WHERE id=#{id};
    </select>

    <select id="productsView" parameterType="int" resultType="ProductsViewVo">
        SELECT
            p.id , user_id ,name, p.cate_code, c.cate_code_ref, c.cate_name, price, stock, description, thumbnail, created_at
        FROM products p
                 INNER JOIN products_category c
                            ON p.cate_code = c.cate_code
        WHERE p.id = #{id};
    </select>

    <select id="productsViewList" resultType="ProductsViewVo">
        SELECT
            p.id , user_id ,name, p.cate_code, c.cate_code_ref, c.cate_name, price, stock, description, thumbnail, created_at
        FROM products p
                 INNER JOIN products_category c
                            ON p.cate_code = c.cate_code
        <if test="keyword != null">
            WHERE name like concat ('%', #{keyword}, '%')
        </if>
        ORDER BY created_at DESC, id DESC
        limit #{skip}, #{amount};
    </select>

    <select id="productsGetTotal" resultType="int">

        SELECT count(*) FROM products

        <if test="keyword != null">

            WHERE (name like concat ('%', #{keyword}, '%'))

        </if>

    </select>

    <select id="getAttachInfo" parameterType="int" resultType="AttachImageVO">

        select * from products_image where product_id = #{product_id};

    </select>


</mapper>