<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.WYW.dao.usersMapper">
    <select id="count" resultType="int">
    	select count(*) FROM users
    </select>

	<sql id="selectFromUser">
		select * FROM users
	</sql>
        
    <select id="selectAll" resultType="UsersDto">
        <include refid="selectFromUser"/>
        ORDER BY created_at DESC, id DESC
    </select>

    
    <select id="select" parameterType="String" resultType="UsersDto">
        <include refid="selectFromUser"/>
        WHERE user_id = #{user_id}
    </select>

    <select id="emailChk" parameterType="String" resultType="UsersDto">
        <include refid="selectFromUser"/>
        WHERE email = #{email}
    </select>

    <select id="mobileChk" parameterType="String" resultType="UsersDto">
        <include refid="selectFromUser"/>
        WHERE mobile = #{mobile}
    </select>

    
    <delete id="deleteAll">
        DELETE FROM users
    </delete>
    
    <delete id="delete" parameterType="map">
        DELETE FROM users WHERE user_id = #{user_id} and email = #{email} and name = #{name} 
    </delete>
    
    <insert id="insert" parameterType="UsersDto">
        INSERT INTO users
            (user_id, password, name, mobile, email, address)
        VALUES
            (#{user_id}, #{password}, #{name}, #{mobile}, #{email}, #{address})
    </insert>
    
    <update id="update" parameterType="UsersDto">
    	UPDATE users
    	set password=#{password},name=#{name}, mobile=#{mobile}, email=#{email}, address=#{address}
    	Where user_id=#{user_id}
    </update>
    
</mapper>