.signUpMain {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.signUpMain__register {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  width: 60%;
}

.signUpMain__register__userInfo {
  width: 100%;
}


/* 회원정보입력 */
.signUpMain__register__userInfo-title,
.signUpMain__register__terms-title {
  font-size: 3vmin;
  font-weight: bold;
}

.signUpMain__register__userInfo__infomation,
.signUpMain__register__terms__outter {
  margin-top: 10px;
  padding-top: 20px;
  width: 100%;
  border-top: 1px solid rgba(50, 52, 62, 0.4);
}

.mobileCss {
  width: 50px;
}

.signUpMain__register__terms__inner,
table {
  border: 1px solid rgba(50, 52, 62, 0.2);
  border-collapse: collapse;
  width: 100%;
}

th {
  background-color: rgba(50, 52, 62, 0.2);
  ;
  color: black;
  font-size: 13px;
  padding-left: 10px;
  text-align: left;
  line-height: 40px;
  border-bottom: 1px solid rgba(50, 52, 62, 0.2);
}

td {
  border-bottom: 1px solid rgba(50, 52, 62, 0.2);
  padding-left: 10px;
}

.infoHint {
  font-size: 10px;
}

/* 약관 */
.signUpMain__register__terms {
  margin-top: 50px;
}

.signUpMain__register__terms__inner {
  background-color: rgba(50, 52, 62, 0.2);
}

.signUpMain__register__terms__inner__selectAll {
  display: flex;
  align-items: center;
  padding: 10px;
  height: 50px;
  border-bottom: 1px solid rgba(50, 52, 62, 0.2);
}

.signUpMain__register__terms__inner__selectAll label {
  display: flex;
  align-items: center;
  font-size: 1.2vmax;
}

.signUpMain__register__terms__inner__selectAll input {
  margin-right: 10px;
}

#selectAll {
  width: 30px;
  height: 30px;
}

.inner__termsbox {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  padding: 2%;
  border-bottom: 1px solid rgba(50, 52, 62, 0.2);
}

.terms_title {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100%;
  height: 30px;
  margin-bottom: 10px;

}

.terms__descriptionbox {
  width: 98%;
  box-sizing: border-box;
  background-color: white;
  height: 200px;
  overflow-y: scroll;
  line-height: 1.5;
  padding-left: 10px;
  border: 1px solid rgba(50, 52, 62, 0.5);
}

.agreeChk {
  display: flex;
  align-items: center;
  margin-top: 10px;
  width: 100%;
}

.agreeChk>label {
  display: flex;
  align-items: center;

}

.agreeChk>label>input {
  width: 20px;
  height: 20px;
  margin-left: 20px;
}

/* 회원가입버튼 */
.registerSubmit {
  background-color: rgba(50, 52, 62);
  color: white;
  border: none;
  margin-top: 30px;
  font-size: 15px;
  width: 150px;
  height: 40px;
  transition: 0.3s ease-in-out;
}

.registerSubmit:hover {
  background-color: rgba(50, 52, 62, 0.2);
  color: rgba(50, 52, 62, 1);
  font-weight: bold;
}




/* 미디어쿼리 */
@media screen and (max-width: 900px) {
  .infoHint {
    margin-top: 2px;
    display: block;
  }

  .signUpMain__register {
    width: 100%;
  }

  th,
  td {
    line-height: 2;
    height: 50px;
  }

  .signUpMain__register__terms__inner__selectAll label {
    font-size: 1.7vmax;
    line-height: 1.5;
  }
}