<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias alias="UsersVo" type="com.project.WYW.domain.UsersVo"/>
        <typeAlias alias="CategoryVo" type="com.project.WYW.domain.CategoryVo"/>
        <typeAlias alias="ProductsVo" type="com.project.WYW.domain.ProductsVo"/>
        <typeAlias alias="ProductsViewVo" type="com.project.WYW.domain.ProductsViewVo"/>
        <typeAlias alias="AttachImageVO" type="com.project.WYW.model.AttachImageVO"/>
    </typeAliases>
</configuration>