<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias alias="UsersVo" type="com.project.WYW.domain.UsersVo"/>
        <typeAlias alias="CategoryVo" type="com.project.WYW.domain.CategoryVo"/>

        <typeAlias alias="ProductsVo" type="com.project.WYW.domain.ProductsVo"/>
        <typeAlias alias="ProductsViewVo" type="com.project.WYW.domain.ProductsViewVo"/>

        <typeAlias alias="AttachImageVO" type="com.project.WYW.model.AttachImageVO"/>

        <typeAlias alias="CartVo" type="com.project.WYW.model.CartVo"/>

        <typeAlias alias="OrderPageItemDto" type="com.project.WYW.dto.OrderPageItemDto"/>
        <typeAlias alias="OrderDto" type="com.project.WYW.dto.OrderDto"/>
        <typeAlias alias="OrderItemDto" type="com.project.WYW.dto.OrderItemDto"/>

        <typeAlias alias="ReplyVo" type="com.project.WYW.domain.ReplyVo"/>
        <typeAlias alias="ReplyPageDto" type="com.project.WYW.dto.ReplyPageDto"/>

        <typeAlias alias="ReplyQnaVo" type="com.project.WYW.domain.ReplyQnaVo"/>


        <typeAlias alias="WishVo" type="com.project.WYW.model.WishVo"/>

        <typeAlias alias="BoardDto" type="com.project.WYW.dto.BoardDto" />
        <typeAlias alias="CommentDto" type="com.project.WYW.dto.CommentDto" />
        <typeAlias alias="NoticeDto" type="com.project.WYW.dto.NoticeDto"/>
        <typeAlias alias="QuestionDto" type="com.project.WYW.dto.QuestionDto" />

        <typeAlias alias="SearchCondition" type="com.project.WYW.model.SearchCondition" />
    </typeAliases>
</configuration>