.products_main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

/* 외부박스 */
.products_main-outter {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-bottom: 50px;

}

/* 페이지타이틀  */
.products_main_title {
    box-sizing: border-box;
    width: 100%;
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 10px;
    padding-left: 20px;
    border-bottom: 1px solid rgba(50, 52, 62, 0.2);
}

.products_diplay {
    display: grid;
    margin-top: 50px;
    grid-template-columns: repeat(4, 300px);
    grid-template-rows: repeat(3, 400px);
    column-gap: 20px;
    row-gap: 40px;
}

.product {
    transition: 2s ease-in-out;
}

.product_main-image {
    background-color: bisque;
    width: 100%;
    height: 250px;
}

.product_infomation {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100px;
    margin-top: 20px;
}

.product_name,
.product_category,
.product_price {
    color: #1f1f1f;
    width: 100%;
    font-weight: bold;
}

.product_name {
    font-size: 18px;
}

.product_category {
    font-size: 15px;
    margin-top: 10px;
}

.product_price {
    margin-top: 20px;
}
.product_bottom-button{
    margin-top: 20px;
    width: 100%;
    font-size: 20px;
}
.product_bottom-button > i{
    cursor: pointer;
    margin-right: 20px;
}

.fa-shopping-cart{
    color: #888888;
    transition: all 0.5s ease-in-out ;
}

.fa-shopping-cart:hover{
    color: #1f1f1f;
    top: -5px;
}

.fa-heart{
    color: white;
    text-shadow: 0 0 2px #1f1f1f;
    transition: all 1s ease-in-out ;
}
.fa-heart:hover{
    color: tomato;
    text-shadow: none;
}
