
/* 회원가입버튼 */
.editSubmit,
.editCancel{
  background-color: rgba(50, 52, 62);
  color: white;
  border: none;
  margin-top: 30px;
  font-size: 15px;
  width: 150px;
  height: 40px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

